.single-weapon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222d1;
  border-radius: 30px ;
  margin-top: 15vh;
  padding: 20px;
  height: 80vh;
  width: 90vw;
}

.selected-img {
  height: 35vh;
  background-color: #222222;
  border-radius: 30%;
  box-shadow: 0px 1px 9px #e4d285;
  margin: 5%;
}

.single-weapon > p {
  margin: 1.5%;
}

.single-weapon > div > p {
  margin: 2%;
  width: fit-content;
}

.durability {
  width: 300px;
  height: 30px;
  padding: 0px;
  border-spacing: 1px;
  border: 1px solid #e4d285;
  border-radius: 5px;
}

.color-1 {
background-color: #be3843;
}

.color-2 {
  background-color: #d3673d;
}

.color-3 {
  background-color: #c9b232;
}

.color-4 {
  background-color: #81b034;
}

.color-5 {
  background-color: #3b58d7;
}

.color-6 {
  background-color: white;
}

.color-7 {
  background-color: rgb(159, 0, 159);
}
