.weapons-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  border-radius: 1.5em;
  padding: 20px;
  margin-top: 15vh;
  min-height: 80vh;
  width: 90vw;
  background-color: #222222d1;
}

h2 {
  font-family: 'Noto Serif', serif;
  color: #e7e4e4;
}

.weapon-types {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.search-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}