@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');

.App {
  text-align: center;
  min-height: 100vh;
  background-color: rgba(43, 14, 70, 0.459);
}

.hidden {
  display: none;
}