nav {
  background-color: #222222;
  border-bottom: 2px solid #e4d285;
  position: fixed;
  min-height: 100px;
  top: 0;
  width: 100%;
  color: #999999;
}

h1 {
  font-family: 'Noto Serif', serif;
  text-align: center;
  color: #999999;
}

.nav-btns {
  position: fixed;
  top: 10px;
  right: 10px;
}

.nav-btn {
  margin: 5px;
}