.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 30vh;
  width: 100vw;
  overflow-y: hidden;
  background-color: rgba(251, 94, 94, 0.831);
}

.error-title {
  color: black;
}

.error-btn {
  border: 2px solid black;
  border-radius: 2.0em;
  padding: 5px;
}