.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 30vh;
  width: 90vw;
  border-radius: 2em;
  overflow-y: hidden;
  background-color: rgba(251, 94, 94, 0.831);
}

.error-title {
  color: black;
  text-align: center;
}

.error-btn {
  border: 2px solid #7e7b7b;
  border-radius: 0.5em;
  padding: .15em;
  font-size: 1.25em;
  font-weight: bold;
  color: #e4d285;
  background-color: #514f4f;
  height: 30px;
  width: fit-content;
  transition: 0.5s;
}

.error-btn:hover {
  border: 2px solid #e4d285;
}

.error-btn:active {
  scale: 1.05;
  color: #514f4f;
  background-color: #e4d285;
}